/Weekly Workbooks/01 Introduction and Orientation/extras/RedNoise/cmake-build-debug/

!/Weekly Workbooks/01 Introduction and Orientation/extras/RedNoise/cmake-build-debug/cornell-box.obj
!/Weekly Workbooks/01 Introduction and Orientation/extras/RedNoise/cmake-build-debug/cornell-box.mtl
